/Site/FullStopNet/FullStopNet.Core/bin
/Site/FullStopNet/FullStopNet.Core/obj
/Site/FullStopNet/FullStopNet.Web/obj
/Site/FullStopNet/FullStopNet.Web/bin
/Site/FullStopNet/packages
/Site/FullStopNet/*.suo
/Site/FullStopNet/FullStopNet.v12.suo
