/Site/FullStopNet/FullStopNet.Core/bin
/Site/FullStopNet/FullStopNet.Core/obj
/Site/FullStopNet/FullStopNet.Web/obj
/Site/FullStopNet/FullStopNet.Web/bin
/Site/FullStopNet/packages
/Site/FullStopNet/*.suo
/Site/FullStopNet/FullStopNet.v12.suo
/Site/FullStopNet/FullStopNet.Web/App_Data/TEMP
/Site/FullStopNet/FullStopNet.Web/App_Data/Logs
/Site/FullStopNet/FullStopNet.Web/FullStopNet.Web.csproj.user
