/* ---------------------------------------------------------------------
Original Author: Fullstop Net (Overnight Website Challenge 2014)

Target Browsers: All
Media Type: All
Width: 640px+
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */

.nav {
    clear: none;
}

.nav > li {
    float: left;;
    font-size: 15px;
}

.nav > li > a {
    display: block;
    padding: 5px 20px;
}

.navTag {
    display: block;
    font-size: 12px;
}

/* ---------------------------------------------------------------------
 Secondary Navigation
------------------------------------------------------------------------ */

.navSecondary {
    float: right;
}

.navSecondary > li {
    float: left;
}

.navSecondary > li > a {
    padding: 12px;
}

/* ---------------------------------------------------------------------
 Pane
------------------------------------------------------------------------ */

.pane {

}

.pane_right {

}




