/* ---------------------------------------------------------------------
Original Author: Fullstop Net (Overnight Website Challenge 2014)

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button {
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

input,
button {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

/* ---------------------------------------------------------------------
 Layout
------------------------------------------------------------------------ */

.site {
    margin: 0 auto;
    max-width: 1600px;
}

.siteMain {
    padding-bottom: 50px;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.grid {
    display: block;
    padding: 24px 0;
}

.grid:before,
.grid:after {
    content: ' ';
    display: table;
}

.grid:after {
    clear: both;
}

.grid-col {
    padding: 0 20px;
}

* + .row {
    margin-top: 24px;
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */

.hdg {
    margin-bottom: .6em;
}

.hdg_1 {
    font-size: 45px;
}

.hdg_2 {
    font-size: 30px;
}

.hdg_3 {
    font-size: 26px;
}

.hdg_4 {
    font-size: 20px;
}

.hdg_arch {
    font-size: 20px;
    font-family: 'Architects Daughter', 'Open Sans', sans-serif;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Buttons
------------------------------------------------------------------------ */

.btn {
    display: inline-block;
    padding: 10px;
    position: relative;
    border-top: 3px solid #5086c5;
    border-right: 3px solid #5086c5;
    border-bottom: 3px solid #5086c5;
    border-left: 2px solid #5086c5;
    text-decoration: none;
    color: #5086c5;
    font-size: 16px;
    font-family: 'Architects Daughter', 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
}

.btn:before {
    content: '';
    display: block;
    height: 7px;
    width: 5px;
    position: absolute;
    top: -7px;
    left: -5px;
    background: url(../images/btn-tl.gif) no-repeat;
}

.btn:after {
    content: '';
    display: block;
    height: 7px;
    width: 5px;
    position: absolute;
    bottom: -7px;
    right: -5px;
    background: url(../images/btn-br.gif) no-repeat;
}

.btn_rev {
    color: #ffffff;
    border-color: #ffffff;
}

.btn_rev:before {
    background-image: url(../images/btn-rev-tl.gif);
}

.btn_rev:after {
    background-image: url(../images/btn-rev-br.gif);
}

.btn:hover {
    background: #5086c5;
    color: #ffffff;
}

.btn_rev:hover {
    background: #ffffff;
    color: #333333;
}

/* ---------------------------------------------------------------------
 Home Sections
------------------------------------------------------------------------ */

.section {
    position: relative;
    text-align: center;
}

.section p {
    line-height: 1.625;
}

.section p + p {
    margin-top: 1em;
}

.section-bg {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
    background: no-repeat #ffffff;
    background-size: cover;
}

.section > .container {
    padding: 50px 20px;
    position: relative;
    z-index: 5;
}

/* Color Selection */
.section_dark {
    color: #ffffff;
}

.section_dark > .section-bg {
    background-color: #403f37;
}

.section_color {
    color: #ffffff;
}

.section_color > .section-bg {
    background-color: #5086c5;
}

.section_imgSmall,
.section_imgMedium {
    color: #ffffff;
}

/* ---------------------------------------------------------------------
 Pane
------------------------------------------------------------------------ */

.pane {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

.blocks {
    overflow: hidden;
}

/* ---------------------------------------------------------------------
 Next section
------------------------------------------------------------------------ */

.next {
    text-align: center;
}

.next-link {
    display: inline-block;
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Content Layout
------------------------------------------------------------------------ */

.content {
    overflow: hidden;
}

.content-full {
    width: 100%;
}

.content-large {
    width: 66.66%;
}

.content-medium {
    width: 50%;
}

.content-small {
    width: 33.33%;
}

.content-left {
    float: left;
}

.content-right {
    float: right;
}

/* ---------------------------------------------------------------------
 Content tags
------------------------------------------------------------------------ */

.content p {
    margin-bottom: 1em;
}

/* ---------------------------------------------------------------------
 Content Images
------------------------------------------------------------------------ */

.content img {
    width: 100%;
}

/* ---------------------------------------------------------------------
 Site Header
------------------------------------------------------------------------ */

.siteHeader {
    width: 100%;
    position: relative;
    z-index: 10;
}

.siteHeader:before,
.siteHeader:after {
    content: ' ';
    display: table;
}

.siteHeader:after {
    clear: both;
}

* + .row {
    margin-top: 24px;
}

.headerInfo {
    overflow: hidden;
    font-size: 12px;
    background: #c7c6b9;
}

.headerLower {
    overflow: hidden;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.9);
}

.headerLogo {
    padding: 23px 30px 26px;
    float: left;
}

.headerLogo > img {
    width: 155px;
}

.signIn {
    float: right;
    display: block;
    padding: 12px;
    color: #ffffff;
    background: #403f37;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */

.nav {
    clear: both;
    font-size: 14px;
}

.nav > li {
    display: block;
}

.nav > li > a {
    display: block;
    padding: 5px 20px;
}

/* ---------------------------------------------------------------------
 Secondary Navigation
------------------------------------------------------------------------ */

.navSecondary {
    font-size: 11px;
    color: #666666;
}

.navSecondary > li > a {
    display: block;
    padding: 12px 10px;
}

/* ---------------------------------------------------------------------
 Column Navigation
------------------------------------------------------------------------ */

.colNav {
    font-size: 15px;
}

.colNav ul > li > a {
    display: inline-block;
    width: 100%;
    padding: 12px 5px;
    font-weight: lighter;
}

.colNav ul > li > a:hover {
    font-weight: normal;
}   

.colNav ul > li.active > a {
    font-weight: normal;
    color: #403f37;
    border-bottom: 2px solid #5086c5;
}


/* ---------------------------------------------------------------------
 Column Sub Navigation
------------------------------------------------------------------------ */

.colNav ul > li.active .colNav-sub ul {
    display: block;
}

.colNav-sub ul {
    display: none;
    padding: 7px 0 15px 0;
    font-size: 13px;
    border-bottom: 1px solid #c7c6b9;
}

.colNav-sub ul > li > a {
    display: inline-block;
    width: 100%;
    padding: 10px 10px 0 15px;
    font-weight: lighter;
}

.colNav-sub ul > li > a:hover {
    font-weight: normal;
}   

.colNav-sub ul > li.active > a {
    font-weight: normal;
}

/* ---------------------------------------------------------------------
 Site Footer
------------------------------------------------------------------------ */

.siteFooter {
    padding: 20px;
    overflow: hidden;
}

.siteFooter_home {
    padding-bottom: 40px;
}

.siteFooter_home .siteFooter-contact {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}






