/* ---------------------------------------------------------------------
Original Author: Fullstop Net (Overnight Website Challenge 2014)

Target Browsers: All
Media Type: All
Width: 640px+
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Layout
------------------------------------------------------------------------ */

.grid-col {
    float: left;
}

.grid-col_full {
    width: 100%;
}

.grid-col_primary {
    width: 75%;
}

.grid-col_secondary {
    width: 25%;
}

/* ---------------------------------------------------------------------
 Pane
------------------------------------------------------------------------ */

.pane {

}

.pane_right {

}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

.blocks {
    font-size: 0;
}

.blocks > * {
    display: inline-block;
    font-size: 16px;
}

.blocks_2up > * {
    width: 50%;
}

.blocks_3up > * {
    width: 33.33%;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */

.nav {
    clear: none;
}

.nav > li {
    float: left;;
    font-size: 15px;
}

.nav > li > a {
    display: block;
    padding: 5px 20px;
}

.navTag {
    display: block;
    font-size: 12px;
}

/* ---------------------------------------------------------------------
 Secondary Navigation
------------------------------------------------------------------------ */

.navSecondary {
    float: right;
}

.navSecondary > li {
    float: left;
}

.navSecondary > li > a {
    padding: 12px;
}

/* ---------------------------------------------------------------------
 Site Footer
------------------------------------------------------------------------ */

.footerFirst {
    float: left;
}

.footerLast {
    float: right;
}




