<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(name)"
            name="umbracoDbDSN"
            connectionString="Data Source=tcp:u8zv7a09yn.database.windows.net,1433;Initial Catalog=fullstopnet;User ID=fullstopnet@u8zv7a09yn;Password=73jkveKT0MR"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>