@model MetroBlooms.ViewModels.Home.HomeViewModel
@using MetroBlooms.Extensions

<div>
    @foreach (var section in Model.Sections)
    {
        <div>
            @Html.DisplayFor(x => section)
        </div>
    }
</div>