@model MetroBlooms.ViewModels.Home.HomeViewModel
@using MetroBlooms.Extensions


@*<div>
    @foreach (var section in Model.Sections)
    {
        <div>
            @Html.DisplayFor(x => section)
        </div>
    }
</div>*@

<div class="section section_dark section_imgFull section_center js-scrollSection">
    <div class="section-bg" style="background-image: url(/Assets/images/home/1.jpg);"></div>
    <div class="container">
        <div class="homeContent homeContent_title">
            <h1 class="hdg hdg_1">Addressing our clean water problem through community beautification.</h1>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_small section_imgFull section_center js-scrollSection">
    <div class="section-bg"><!-- BACKEND: This div optional if no bg image --></div>
    <div class="container">
        <h2 class="hdg hdg_2">Our Clean Water Problem</h2>
        <p>The number one source of pollution to our urban bodies of water is runoff, which means that every rain event is a pollution event for our lakes, rivers and streams.</p>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_dark section_imgFull section_center js-scrollSection">
    <div class="section-bg" style="background-image: url(/Assets/images/home/2.jpg);"></div>
    <div class="container">
        <h2 class="hdg hdg_2">Out of <em>168</em> lakes monitored in the metro area, <em>35%</em> received a below average grade of D or F.</h2>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_dark section_center section_small js-scrollSection">
    <div class="section-bg"></div>
    <div class="container">
        <h2 class="hdg hdg_2">Why should I care?</h2>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_right section_imgSmall js-scrollSection">
    <div class="section-bg" style="background-image: url(/Assets/images/home/3.jpg);"></div>
    <div class="container">
        <h3 class="hdg hdg_arch">Water Quality Affects Us All</h3>
        <p>Boaters, anyone who drinks water. It even affects our bees and birds. </p>
        <p>The quality of water directly impacts our quality of life. The effects of water pollution are far-reaching - from the most basic function of drinking water, to recreational water-based activities and the balance of ecosystems.</p>
        <a class="btn" href="#">Learn More</a>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_left section_imgMedium js-scrollSection">
    <div class="section-bg" style="background-image: url(/Assets/images/home/4.jpg);"></div>
    <div class="container">
        <h3 class="hdg hdg_arch">Next Time You Take a Sip</h3>
        <p>or go on a fishing trip, or enjoy watching wildlife in their natural environments, consider this...</p>
        <p>When you pick up your next glass of water, are you thinking about the potential particles and contaminants that are floating around?</p>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_small section_imgFull section_color section_center js-scrollSection">
    <div class="section-bg"></div>
    <div class="container">
        <h2 class="hdg hdg_2">What we can do</h2>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_dark section_imgFull section_left js-scrollSection">
    <div class="section-bg" style="background-image: url(/Assets/images/home/5.jpg);"></div>
    <div class="container">
        <h2 class="hdg hdg_2">
            Raingardens are one of the
            most cost-effective stormwater
            management systems.
        </h2>
        <p>Designed and planted to capture rainwater so it can penetrate deep into the soil to help protect and restore water quality.</p>
        <a class="btn" href="#">Learn More</a>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div class="section section_dark section_imgFull section_center js-scrollSection">
    <div class="section-bg" style="background-image: url(/Assets/images/home/6.jpg);"></div>
    <div class="container">
        <h2 class="hdg hdg_2">Permeable pavement can also be a good alternate solution.</h2>
        <p>Find out more about other creative options being employed by communities in your area.</p>
        <a class="btn" href="#">Learn More</a>
    </div> <!-- /.container -->
</div> <!-- /.section -->

<div style="position: fixed; bottom: 0; padding: 10px; background-color: #ccc;">
    <a href="#" class="js-snapScroll-previous">Previous Target</a>
    <a href="#" class="js-snapScroll-next">Next Target</a>
</div>