@model MetroBlooms.ViewModels.Home.HomeViewModel

@foreach (var section in Model.Sections)
{
    @Html.DisplayFor(x => section)
}

<div style="position: fixed; bottom: 0; padding: 10px; background-color: #ccc;">
    <a href="#" class="js-snapScroll-previous">Previous Target</a>
    <a href="#" class="js-snapScroll-next">Next Target</a>
</div>