@using System
@using System.Collections.Generic
@using System.Linq
@model MetroBlooms.ViewModels.Sections.ImageDisplaySection

@{
    var images = new[] { Model.Image1, Model.Image2, Model.Image3 }.WhereNotNull();
    var blockClass = string.Format("blocks_{0}up", images.Count());
}
<div class="content">
    <div class="blocks @blockClass">
        @foreach (var image in images)
        {
            <div><img src="@image.Url" alt="@image.Alt" /></div>
        }
    </div> <!-- /.blocks -->
</div>

